<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>遊戲首頁</title>
</head>
<body>
    {% if user.is_authenticated %}
        Hi 玩家: {{user.username}}&nbsp;&nbsp;
        <a href="/logout/">Logout</a>
        <br>
        <br>
        <input id="game-uid-create" type="button" value="建立新遊戲">
        <br>
        <br>
    {% else %}
        <p> You aren't login the game </p>
        <a href="/login/">Login</a>
    {% endif %}

    <div id="create-game-success">
        <!-- 建立遊戲訊息 -->
    </div> 

    <div id="game-list">
        <!-- 遊戲列表 -->
    </div>    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const csrftoken = '{{ csrf_token }}';

        function createGame() {
            // 創建一個新的遊戲實例
            $.ajax({
                url: '/api/game/',  // '/api/game/' 創建遊戲的 API 端點
                type: 'POST',
                data: {},
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(data) {
                    // 清空 text 以及 list（如果有）
                    $('#create-game-success').empty();
                    $('#game-list').empty();

                    console.log('遊戲創建成功! ID: ' + data.uid);
                    let text = '遊戲創建成功! ID: ' + data.uid;
                    $('#create-game-success').append(text);
                    
                    // 2秒後跳轉頁面
                    setTimeout(function() {
                        window.location.href = '/';
                    }, 2000);
                },
                error: function(error) {
                    // 檢查 responseJSON 是否存在
                    if (error.responseJSON) {
                        console.error('創建遊戲過程中出現錯誤: ', error.responseJSON);
                        alert('創建遊戲過程中出現錯誤: ' + error.responseJSON.detail);
                    } else {
                        // 如果 responseJSON 不存在，使用 responseText
                        console.error('創建遊戲過程中出現錯誤: ', error.responseText);
                        alert('創建遊戲過程中出現錯誤: ' + error.responseText);
                    }
                }
            });
        }

        function joinGame(e) {
            $.ajax({
                url: '/api/games/join/',  // '/api/games/join/' 加入遊戲的 API 端點
                type: 'PUT',
                data: {
                    'uid': e.data.game_uid
                },
                headers: {
                    'X-CSRFToken': csrftoken  // Django CSRF token
                },
                success: function(data) {
                    window.location.href = '/game/' + e.data.game_uid + '/';
                },
                error: function(error) {
                    // 檢查 responseJSON 是否存在
                    if (error.responseJSON) {
                        console.error('加入遊戲過程中出現錯誤: ', error.responseJSON);
                        alert('加入遊戲過程中出現錯誤: ' + error.responseJSON.detail);
                    } else {
                        // 如果 responseJSON 不存在，使用 responseText
                        console.error('加入遊戲過程中出現錯誤: ', error.responseText);
                        alert('加入遊戲過程中出現錯誤: ' + error.responseText);
                    }
                }
            });
        }

        function listGame() {
            // 列出所有遊戲
            $.ajax({
                url: '/api/games/',  // '/api/games/' 列出所有遊戲的 API 端點
                type: 'GET',
                data: {},
                headers: {
                    'X-CSRFToken': csrftoken  // Django CSRF token
                },
                success: function(data) {
                    // 清空 text 以及 list（如果有）
                    $('#create-game-success').empty();
                    $('#game-list').empty();

                    data.forEach(function(game) {
                        let listItem = $('<li>').text('Game ID: ' + game.uid);  // 遊戲列表
                        let space = $('<span>').html('&nbsp;&nbsp;&nbsp;');
                        let joinGameButton = $('<button>').text('加入遊戲').on('click', {game_uid: game.uid}, joinGame);
                        let continueGameButton = $('<button>').text('繼續遊戲').on('click', function() {
                            window.location.href = '/game/' + game.uid + '/';
                        })
                        let gameFinishMessage = '';
                        if(game.status == 'Finished') {
                            gameFinishMessage = "此遊戲已結束"
                        }

                        listItem.append(space, joinGameButton, continueGameButton, space, gameFinishMessage);

                        // 將列表項添加到遊戲列表中
                        $('#game-list').append(listItem);
                    });
                },
                error: function(error) {
                    // 檢查 responseJSON 是否存在
                    if (error.responseJSON) {
                        console.error('列出遊戲出現錯誤: ', error.responseJSON);
                        alert('列出遊戲出現錯誤: ' + error.responseJSON.detail);
                    } else {
                        // 如果 responseJSON 不存在，使用 responseText
                        console.error('列出遊戲出現錯誤: ', error.responseText);
                        alert('列出遊戲出現錯誤: ' + error.responseText);
                    }
                }
            });
        }

        document.querySelector('#game-uid-create').onclick = createGame;

        $(document).ready(function() {
            // 加載完畢時，立即列出所有遊戲
            listGame();
        });
    </script>
</body>
</html>